<div ng-controller="CardDetailCtrl as detail" layout="column" layout-margin>

    <md-button ui-sref="root.cardsdetail({cardId:detail.id})" class="md-whiteframe-z1 card__header card__header--button" flex="50" layout="row" layout-padding layout-margin layout-sm="column">
        <span class="card__header--span" flex>Card title - {{detail.card.title}}</span>
        <span class="card__header--span" flex>Card type - {{detail.card.type.title}}</span>
        <span class="card__header--span" flex>Card segments - {{detail.card.segments.length}}</span>
    </md-button>

    <div ui-view="detailsContent"></div>

</div>