<div ng-controller="LoginCtrl as loginCtrl">
<md-toolbar layout="" class="md-warn md-whiteframe-z1" layout-align="center center" ng-model="loginCtrl.loginError" ng-show="loginCtrl.loginError" role="alert">
    {{loginCtrl.loginError}}
</md-toolbar>
<md-content layout layout-padding layout-margin layout-align="center center">

    <form class="md-whiteframe-z1" name="loginForm" flex-gt-sm="50" flex autofocus>
        <md-input-container>
            <label>E-mail</label>
            <input type="email" required="" name="email" ng-model="loginCtrl.login.email" autofocus>
            <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty">
                <div ng-message="required">This is required.</div>
                <div ng-message="email">Enter valid email address.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password" required="" name="password" ng-model="loginCtrl.login.password" minlength="6">
            <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
                <div ng-message="required">This is required.</div>
                <div ng-message="minlength">Minimum password length is 6 symbols.</div>
            </div>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-disabled="!loginForm.$valid" ng-click="loginCtrl.logIn(loginCtrl.login.email, loginCtrl.login.password)">Log In</md-button>
        <md-button class="md-raised" ng-disabled="!loginForm.$valid" ng-click="loginCtrl.register(loginCtrl.login.email, loginCtrl.login.password)">One Click Registration</md-button>
    </form>

</md-content>
</div>