/* animation */
@-webkit-keyframes ok-blink {
    from {background-color: #dcedc8;}
    to {background-color:#EAF55F;}
}
@keyframes ok-blink {
    from {background-color: #dcedc8;}
    to {background-color:#EAF55F;}
}

@-webkit-keyframes err-blink {
    from {background-color:#F44336;}
    to {background-color:#EAF55F;}
}
@keyframes err-blink {
    from {background-color:#F44336;}
    to {background-color:#EAF55F;}
}

@-webkit-keyframes ok-blink--segment {
    from {background-color: #dcedc8;}
    to {background-color:#62DAA3;}
}
@keyframes ok-blink--segment {
    from {background-color: #dcedc8;}
    to {background-color:#62DAA3;}
}

@-webkit-keyframes err-blink--segment {
    from {background-color:#F44336;}
    to {background-color:#62DAA3;}
}
@keyframes err-blink--segment {
    from {background-color:#F44336;}
    to {background-color:#62DAA3;}
}

/* basic styles */

em {
    font-style:italic;
}

/* Navigation styling */

.nav-sidebar a {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.nav-link__active {
    border-bottom:1px solid yellow;
}

.search--md {
    margin-right:20px;
}

/* Dialog styling */

.md-subheader.dialog-content__subheader {
    background-color:#dcedc8;
    margin:0;
}

.md-subheader.dialog-content__subheader--timer {
    background-color:#D4C8ED;
}

md-toolbar.md-ok {
    background-color: #dcedc8;
    color:rgba(0,0,0,0.54);
}

/* Card list styling */
.grid-list {
    margin-top:10px;
}
.card > figure {
    padding-top:50px;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.card__header {
    padding-left:10px;
    background-color:#EAF55F;
    color:#444;
    -ms-word-wrap:break-word;
    word-wrap:break-word;
}
.card__header--segment {
    background-color:#62DAA3;
}
.card__header--button {
    display:flex;
    margin:6px 0;
    font-size:16px;
    font-weight:normal;
    text-transform:none;
}
.card__header--delete-button {
    position:absolute;
    top:17px;
    right:10px;
    cursor:pointer;
}
.card__header--delete-button:hover {
    opacity:0.8;
}
.card__header--animate-ok {
    -webkit-animation:ok-blink 2s;
    animation:ok-blink 2s;
}
.card__header--animate-err {
    -webkit-animation:err-blink 2s;
    animation:err-blink 2s;
}
.card__header--segment-animate-ok {
    -webkit-animation:ok-blink--segment 2s;
    animation:ok-blink 2s;
}
.card__header--segment-animate-err {
    -webkit-animation:err-blink--segment 2s;
    animation:err-blink 2s;
}
.card__form {
    padding:10px;
}
.card__form--chips {
    height:48px;
    overflow-y:scroll;
}
.card__button--study {
    vertical-align:top;
}

@media only screen and (max-width:600px) {
    [flex].card__header--span {
        margin:0;
        padding:0;
    }
}

/* Segment styling */

md-toolbar.segment__header {
    margin-bottom:16px;
    min-height:0;
    color:#444;
    font-size:16px;
    text-align:center;
    background-color:#62DAA3;
}

.segment__stop-point {
    padding-bottom:46px;
}

.timer {
    min-width:170px;
    font-size:43px;
    line-height:63px;
    text-align: center;
}

.test-list {
    padding:0;
    border-bottom:none;
}

md-list-item.test-item {
    min-width:33%;
    margin:8px;
    position:relative;
    padding:16px;
    border:1px solid rgba(0,0,0,0.12);
}
.test-item__subheader .md-subheader-inner {
    padding-left:2px;
}

.test-item__delete-button {
    position:absolute;
    right:-8px;
    top:-6px;
    min-width:40px;
}

@media only screen and (max-width:960px) {
    .test-list {
        margin-top:20px;
    }
    md-list-item.test-item {
        min-width:100%;
    }
}

@media only screen and (min-width:1200px) {
    md-list-item.test-item {
        min-width:30%;
    }
}

/* Calendar styling */
.fc-toolbar .fc-center {
    width:100%;
    margin-top:20px;
}

.fc-toolbar .fc-center h2 {
    width:100%;
    text-align:center;
}

.fc-day-grid-container.fc-scroller {
    height:auto !important;
    overflow:visible;
}

@media only screen and (max-width:480px) {
    .fc-toolbar .fc-right {
        float:none;
        padding-top:40px;
    }
}


/* Material icons styling */
.material-icon {
    width:14px;
    height:14px;
    margin:auto;
    position:relative;
}

.material-icon__span,
.material-icon {
    transition:all 400ms ease;
}

.material-icon__span {
    background-color:#fff;
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.material-icon:before,
.material-icon:after {
    content:' ';
    background:transparent;
    width:0;
    height:0;
    display:block;
    position:relative;
    width:20px;
    height:8px;
    z-index:1;
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    -o-transform:translateY(-10px);
    transform:translateY(-10px);
    transition:all 400ms ease;
    color:transparent;

}

.pause {
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}
.pause .material-icon__span {
    height:5px;
}
.pause .material-icon__span--second {
    -moz-transform:translateY(9px);
    -ms-transform:translateY(9px);
    -webkit-transform:translateY(9px);
    -o-transform:translateY(9px);
    transform:translateY(9px);
}


.play {
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.play .material-icon__span {
    height:6px;
}
.play .material-icon__span--second {
    height:9px;
    -moz-transform:translateY(5px);
    -ms-transform:translateY(5px);
    -webkit-transform:translateY(5px);
    -o-transform:translateY(5px);
    transform:translateY(5px);
}

.play:before {
    moz-transform:translateY(-3px) translateX(-4px) rotate(-22deg);
    -ms-transform:translateY(-3px) translateX(-4px) rotate(-22deg);
    -webkit-transform:translateY(-3px) translateX(-4px) rotate(-22deg);
    -o-transform:translateY(-3px) translateX(-4px) rotate(-22deg);
    transform:translateY(-3px) translateX(-4px) rotate(-22deg);
}
.play:after {
    moz-transform:translateY(3px) translateX(-4px) rotate(22deg);
    -ms-transform:translateY(3px) translateX(-4px) rotate(22deg);
    -webkit-transform:translateY(3px) translateX(-4px) rotate(22deg);
    -o-transform:translateY(3px) translateX(-4px) rotate(22deg);
    transform:translateY(3px) translateX(-4px) rotate(22deg);
}

.play:before,
.play:after {
    background:rgb(63,81,181);
}

.md-button:hover .play:before,
.md-button:hover .play:after,
.play:hover:before,
.play:hover:after {
    background:rgb(77,93,177);
}

/* Material addon */

.md-chips .md-chip .md-chip-remove {
    vertical-align:top;
}