<div ng-controller="CardListCtrl as list" layout="column" layout-margin>


    <div layout  layout-align="center center">

        <md-button class="md-raised md-primary md-hue-2" ng-click="list.cardAdd($event)" flex-sm="100">Add new study material</md-button>

    </div>

    <md-grid-list class="grid-list"
                  md-cols-sm="1"
                  md-cols-md="3"
                  md-cols-lg="4"
                  md-cols-gt-lg="6"
                  md-row-height="370px"
                  md-gutter="10px">
        <md-grid-tile class="card md-whiteframe-z1" ng-repeat="card in list.cards">

            <md-grid-tile-header class="card__header" ng-class="{'card__header--animate-ok': list.status[$index] === 'ok', 'card__header--animate-err': list.status[$index] === 'err'}">
                Material card
                <span ng-show="card.additionalFields[0].title === 'Link'"><a target="_blank" ng-href="{{card.additionalFields[0].value}}">link</a></span>
                <span class="card__header--delete-button" ng-click="list.confirmDelete($event, card)">X</span>
            </md-grid-tile-header>

            <form class="card__form" name="cardChangeForm" layout="column" layout="start center" flex>
                    <md-input-container>
                        <label>Title</label>
                        <input type="text" required="" name="title" ng-model="card.title">
                        <div ng-messages="cardChangeForm.title.$error" ng-show="cardChangeForm.title.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-select ng-change="list.onTypeSelect($index)" ng-model="card.type" md-on-open="list.loadTypes()" style="min-width: 100%;" required>
                        <md-select-label>{{ card.type ? card.type.title : "Select card type" }}</md-select-label>
                        <md-option ng-value="type" ng-repeat="type in list.types">{{type.title}}</md-option>
                    </md-select>


                    <md-input-container ng-init="card.additionalFields[$index]={title:additionalField, value:card.additionalFields[$index].value}" ng-repeat="additionalField in card.type.additionalFields">
                        <label>{{additionalField}}</label>
                        <input type="text" required="" ng-model="card.additionalFields[$index].value">
                    </md-input-container>

                    <md-chips class="card__form--chips"
                              ng-model="card.tags"
                              placeholder="Enter a tag"
                              delete-button-label="Remove Tag"
                              delete-hint="Press delete to remove tag"
                              secondary-placeholder="+Tag"
                              flex >
                    </md-chips>

            </form>

            <md-grid-tile-footer layout="row">
                <md-button class="card__button--study md-primary" ui-sref="root.cardsdetail({cardId:card._id})" flex>
                    Study
                </md-button>
                <md-button class="md-primary" ng-click="list.cardSave($index);cardChangeForm.$setPristine()" ng-show="cardChangeForm.$dirty" ng-disabled="cardChangeForm.$invalid" flex>
                    Save
                </md-button>

            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>


</div>
