<md-dialog class="dialog__main" aria-label="Create new study card">
    <md-subheader class="dialog-content__subheader md-sticky-no-effect">New study card</md-subheader>
    <form name="cardAddForm" layout="column">
        <md-dialog-content class="">

            <md-input-container>
                <label>Title</label>
                <input type="text" required="" name="title" ng-model="newCard.title">
                <div ng-messages="cardAddForm.title.$error" ng-show="cardAddForm.title.$dirty">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-select ng-model="newCard.type" md-on-open="loadTypes()" style="min-width: 100%;" required>
                <md-select-label>{{ newCard.type ? newCard.type.title : "Select card type" }}</md-select-label>
                <md-option ng-value="type" ng-repeat="type in types">{{type.title}}</md-option>
            </md-select>

            <div ng-repeat="additionalField in newCard.type.additionalFields" ng-init="newCard.additionalFields=[];">
                <md-input-container ng-init="newCard.additionalFields.push({title:additionalField, value:''})">
                    <label>{{additionalField}}</label>
                    <input type="text" required="" ng-model="newCard.additionalFields[$index].value">
                </md-input-container>
            </div>

            <md-chips ng-model="newCard.tags"
                      placeholder="Enter a tag"
                      delete-button-label="Remove Tag"
                      delete-hint="Press delete to remove tag"
                      secondary-placeholder="+Tag">
            </md-chips>

        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="cardCreate()" ng-disabled="cardAddForm.$invalid">
                Create
            </md-button>
            <md-button class="md-primary" ng-click="$event.preventDefault();cancel();" >
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>