<md-dialog class="dialog__main" aria-label="Create new segment">
    <md-subheader class="dialog-content__subheader md-sticky-no-effect">New segment</md-subheader>
    <form name="segmentAddForm" layout="column">
        <md-dialog-content class="">

            <md-input-container>
                <label>Title</label>
                <input type="text" required="" name="title" ng-model="dialog.newSegment.title">
                <div ng-messages="segmentAddForm.title.$error" ng-show="segmentAddForm.title.$dirty">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-select ng-model="dialog.newSegment.interval" md-on-open="dialog.loadIntervals()" style="min-width: 100%;" required>
                <md-select-label>{{ dialog.newSegment.interval ? dialog.newSegment.interval.title : "Select repeat interval" }}</md-select-label>
                <md-option ng-value="interval" ng-repeat="interval in dialog.intervals">{{interval.title}}</md-option>
            </md-select>

        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="dialog.segmentCreate()" ng-disabled="segmentAddForm.$invalid">
                Start learning
            </md-button>
            <md-button class="md-primary" ng-click="$event.preventDefault();dialog.cancel();" >
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>