<md-dialog class="dialog__main" aria-label="Timer finished">
    <md-subheader class="dialog-content__subheader dialog-content__subheader--timer md-sticky-no-effect">Timer is finished</md-subheader>
    <md-dialog-content class="sticky-container">

        <p>Please, enter stop point, test answers and complete studying.</p>
        <br>
        <p>Rest for a while and come back in while.</p>

    </md-dialog-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-primary" ng-click="$event.preventDefault();dlgTimer.cancel();" >
            OK
        </md-button>
    </div>
</md-dialog>