<div layout-margin ng-controller="SegmentListCtrl as segmentList">

    <div layout layout-align="center center">

        <md-button class="md-raised md-primary md-hue-2" ng-click="segmentList.segmentAdd($event)" flex-sm="100">Start new segment</md-button>

    </div>

    <md-grid-list class="grid-list"
                  md-cols-sm="1"
                  md-cols-md="3"
                  md-cols-lg="4"
                  md-cols-gt-lg="6"
                  md-row-height="330px"
                  md-gutter="10px">
        <md-grid-tile class="md-whiteframe-z1" ng-repeat="segment in detail.card.segments">

            <md-grid-tile-header class="card__header card__header--segment" ng-class="{'card__header--segment-animate-ok': segmentList.status[segment._id] === 'ok', 'card__header--segment-animate-err': segmentList.status[segment._id] === 'err'}">
                Segment card:
                    <span ng-if="segment.rememberLevel == null">New</span>
                    <span ng-if="segment.rememberLevel != null && segment.rememberLevel >= 0 && segment.rememberLevel < 1">Critical</span>
                    <span ng-if="segment.rememberLevel >= 1 && segment.rememberLevel < 2">Average</span>
                    <span ng-if="segment.rememberLevel >= 2 && segment.rememberLevel < 3">Good</span>
                    <span ng-if="segment.rememberLevel == 3">Perfect</span>
                <span class="card__header--delete-button" ng-click="segmentList.confirmDelete($event, segment)">X</span>
            </md-grid-tile-header>

            <form class="card__form" name="segmentChangeForm" layout="column" flex>

                <md-input-container>
                    <label>Title</label>
                    <input type="text" required="" name="title" ng-model="segment.title">
                    <div ng-messages="segmentChangeForm.title.$error" ng-show="segmentChangeForm.title.$dirty">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-select ng-model="segment.interval" md-on-open="segmentList.loadIntervals()" style="min-width: 100%;" required>
                    <md-select-label>{{ segment.interval ? segment.interval.title : "Select repeat interval" }}</md-select-label>
                    <md-option ng-value="interval" ng-repeat="interval in segmentList.intervals">{{interval.title}}</md-option>
                </md-select>

                <md-input-container>
                    <label>Stop point</label>
                    <input type="text" name="stopPoint" ng-model="segment.stopPoint">
                </md-input-container>

            </form>

            <md-grid-tile-footer>
                <md-button class="card__button--study md-primary" ui-sref="root.cardsdetail.segment({segmentId:segment._id})">
                    Study
                </md-button>
                <md-button class="md-primary" ng-click="segmentList.segmentSave(segment);segmentChangeForm.$setPristine()" ng-show="segmentChangeForm.$dirty" ng-disabled="segmentChangeForm.$invalid">
                    Save
                </md-button>

            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>

</div>