

<md-content class="segment" layout-lg="row" layout-gt-lg="row">


    <form flex name="segmentStudyForm" layout-lg="row" layout-gt-lg="row">

        <div flex-lg="30" flex-gt-lg="30" layout-margin layout="column">

            <md-toolbar class="segment__header md-whiteframe-z1" layout="row" layout-lg="column" layout-gt-lg="column" layout-padding layout-align="center center">
                <p flex>Segment title - {{segmentStudy.segment.title}}</p>
                <p flex>Segment interval - {{segmentStudy.segment.interval.title}}</p>
            </md-toolbar>

            <md-toolbar class="segment__timer" layout="row" layout-wrap layout-align="center center">
                <timer interval="1000" id="timer" class="timer" ng-attr-finish-callback="segmentStudy.timerFinished()" ng-attr-countdown="segmentStudy.countdownVal" flex>{{hhours}}:{{mminutes}}:{{sseconds}}</timer>

                <md-button ng-click="$event.preventDefault();segmentStudy.timerControl();">

                    <div class="material-icon" ng-class="{'play':segmentStudy.timerPlay === false, 'pause':segmentStudy.timerPlay === true}">
                        <span class="material-icon__span"></span>
                        <span class="material-icon__span material-icon__span--second"></span>
                        <span class="material-icon__span"></span>
                    </div>

                </md-button>

                <md-button ng-click="segmentStudy.completeSegment()" ng-disabled="segmentStudyForm.$invalid">Complete studying</md-button>

            </md-toolbar>

            <md-input-container class="segment__stop-point">
                <label>Stop point</label>
                <input type="text" required name="stopPoint" ng-model="segmentStudy.segment.stopPoint">
                <div ng-messages="segmentStudyForm.stopPoint.$error" ng-show="segmentStudyForm.stopPoint.$dirty || segmentStudyForm.$invalid">
                    <div ng-message="required">Stop point is needed to remember where segment had finished</div>
                </div>
            </md-input-container>

            <md-button class="md-raised" ng-click="$event.preventDefault();segmentStudy.addTest()">Add test</md-button>

        </div>

        <md-list flex  flex-lg="68" flex-gt-lg="68" class="test-list" layout="column" layout-lg="row" layout-gt-lg="row" layout-wrap>
                <md-list-item class="test-item md-3-line" ng-repeat="test in segmentStudy.segment.tests" flex layout-wrap>

                    <md-subheader class="test-item__subheader">Test {{$index+1}}</md-subheader>
                    <md-button class="test-item__delete-button" ng-click="$event.preventDefault();segmentStudy.deleteTest($index);">X</md-button>

                    <md-input-container flex="100">
                        <label>Question</label>
                        <input type="text" name="question{{$index}}" required ng-model="test.question">
                        <div ng-messages="segmentStudyForm.question{{$index}}.$error || segmentStudyForm.$invalid" ng-show="segmentStudyForm.question{{$index}}.$dirty || segmentStudyForm.$invalid">
                            <div ng-message="required">Please, ask the question</div>
                        </div>
                    </md-input-container>

                    <md-button flex="100" ng-hide="test.showedAnswer || test.firstTime" ng-click="$event.preventDefault();segmentStudy.showAnswer($index)">Show answer</md-button>

                    <md-input-container flex="100" ng-show="test.firstTime || test.showedAnswer">
                        <label>Answer</label>
                        <textarea requred="" name="answer{{$index}}" required  ng-model="test.answer" columns="1"></textarea>
                        <div ng-messages="segmentStudyForm.answer{{$index}}.$error || segmentStudyForm.$invalid" ng-show="segmentStudyForm.answer{{$index}}.$dirty || segmentStudyForm.$invalid">
                            <div ng-message="required">Please, answer</div>
                        </div>
                    </md-input-container>

                    <div layout="column" ng-hide="test.firstTime || !test.showedAnswer">
                        <md-subheader class="test-item__subheader">Evaluate yourself for Test {{$index+1}}</md-subheader>

                        <md-radio-group ng-model="test.evaluation" layout="row" layout-wrap ng-required="!test.firstTime" >
                            <md-radio-button value="0">Bad</md-radio-button>
                            <md-radio-button value="1">Average</md-radio-button>
                            <md-radio-button value="2">Good</md-radio-button>
                            <md-radio-button value="3">Perfect</md-radio-button>
                        </md-radio-group>
                    </div>

                </md-list-item>
            </md-list>

    </form>

</md-content>