<div ng-controller="ProfileCtrl as profile">

<md-toolbar layout="" class="md-warn md-whiteframe-z1" layout-align="center center" ng-show="profile.profileError" role="alert">
    {{profile.profileError}}
</md-toolbar>
<md-toolbar layout="" class="md-ok md-whiteframe-z1" layout-align="center center" ng-show="profile.profileSuccess" role="alert">
    {{profile.profileSuccess}}
</md-toolbar>
<md-content layout layout-padding layout-margin layout-align="center center">

    <form name="profileForm" flex-gt-sm="50" flex>
        <md-input-container>
            <label>E-mail</label>
            <input type="email" required="" name="email" ng-model="profile.user.email">
            <div ng-messages="profileForm.email.$error" ng-show="profileForm.email.$dirty">
                <div ng-message="required">This is required.</div>
                <div ng-message="email">Enter valid email address</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Old Password</label>
            <input type="password" required="" name="oldPassword" ng-model="profile.user.old_password" minlength="6">
            <div ng-messages="profileForm.oldPassword.$error" ng-show="profileForm.oldPassword.$dirty">
                <div ng-message="required">This is required.</div>
                <div ng-message="minlength">Minimum password length is 6 symbols.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>New Password</label>
            <input type="password" required="" name="newPassword" ng-model="profile.user.new_password" minlength="6">
            <div ng-messages="profileForm.newPassword.$error" ng-show="profileForm.newPassword.$dirty">
                <div ng-message="required">This is required.</div>
                <div ng-message="minlength">Minimum password length is 6 symbols.</div>
            </div>
        </md-input-container>

        <md-button class="md-raised" ng-disabled="profileForm.$invalid" ng-click="profile.saveUser();">Save Changes</md-button>
    </form>

</md-content>

</div>