
<md-autocomplete
        md-no-cache="true"
        md-search-text-change="searchCtrl.searchTextChange(searchCtrl.searchText)"
        md-selected-item-change="searchCtrl.selectedItemChange(item)"
        md-search-text="searchCtrl.searchText"
        md-items="item in searchCtrl.tagsList(searchCtrl.searchText)"
        md-min-length="1"
        placeholder="Search cards by tag">
    <md-item-template>
        <span>{{item.title}}</span>
    </md-item-template>
</md-autocomplete>



