<header class="main-header" layout="column">
    <md-toolbar layout="row">

        <div class="md-toolbar-tools md-whiteframe-z2">

            <md-button ng-click="toggleSidenav('left')" aria-label="Navigation Menu" hide-gt-sm ng-show="isLogged">
                <span class="">Menu</span>
            </md-button>


                <h1 flex><a ui-sref="root.home" ui-sref-active="nav-link__active">MindHauz <em>beta</em></a></h1>



            <search class="search--md" hide-sm ng-show="isLogged"></search>

            <span hide-sm ng-show="isLogged">

                    <a ui-sref="root.cardslist" ui-sref-active="nav-link__active">List</a>
                    <a ui-sref="root.profile" ui-sref-active="nav-link__active">Profile</a>
                    <a ui-sref="root.logout" ui-sref-active="nav-link__active">Logout</a>

                </span>

        </div>
    </md-toolbar>

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

        <md-toolbar>
            <h1 class="md-toolbar-tools"><a ui-sref="root.home" ng-click="toggleSidenav('left')">MindHauz</a></h1>
        </md-toolbar>

        <search></search>

        <md-content flex role="navigation">
            <nav class="nav-sidebar">
                <md-button ui-sref="root.home" ng-click="toggleSidenav('left')">Home</md-button>
                <md-button ui-sref="root.cardslist" ng-click="toggleSidenav('left')">List</md-button>
                <md-button ui-sref="root.profile" ng-click="toggleSidenav('left')">Profile</md-button>
                <md-button ui-sref="root.logout" ng-click="toggleSidenav('left')">Logout</md-button>
            </nav>
        </md-content>

    </md-sidenav>
</header>


