<div layout="column" layout-margin ng-controller="HomeCtrl as homeCtrl">


    <div layout  layout-align="center center">

        <md-button class="md-raised md-primary md-hue-2" ng-click="homeCtrl.cardAdd($event)" flex-sm="100">Add new study material</md-button>

    </div>

    <div id='calendar'></div>

</div>